{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
</head>
<body>

<div class="auth-container">

    <!-- LEFT SIDE -->
    <div class="left-panel">
        <h2>Welcome Back!</h2>
        <p>Login to view pothole alerts and start your safe journey.</p>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right-panel">
        <h2>User Login</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

        <div class="auth-link">
            Don’t have an account? <a href="/users/register/">Register</a>
        </div>
    </div>

</div>

</body>
</html>